# Binaries for programs written in Rust
/target/
!/**/target/.gitkeep

# Executables and related files
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test output
*.log

# Rust/Cargo specific files
**/Cargo.lock
/.cargo/
.cargo/

# Backup files
*~
*.bak
*.tmp
*.swp
*.swo

# IDE/editor configs
# VSCode
.vscode/
/.vscode/*

# JetBrains IDEs (CLion, IntelliJ, etc.)
.idea/
*.iml

# MacOS
.DS_Store

# Linux
*.out

# Windows
Thumbs.db
ehthumbs.db